.register{
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://img.freepik.com/free-vector/flat-world-emoji-day-background-with-emoticons_23-2149427424.jpg?t=st=1722840751~exp=1722844351~hmac=265c26f47fec583489e453becb6479ab77be02761a3341ead4fe9608aa3767c9&w=996");
}

.register .card-body {
  max-height: 53vh; /* Adjust this value as needed */
  overflow-y: auto;
}

.register__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.card{
  border: 1px solid #000;
}

.card-header{
  background-color: #fde9ff;
  display: flex;
  justify-content: space-between;
}

.cancel__icon{
  font-size: 1.4rem;
  color: #000;
  display: block;
  margin: 10px 10px 0 0;
}

.input__title{
  margin-bottom: 2px; margin-left: 10px;
}

.username__part{
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}

.password__part{
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}

.confirm-password__part{
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}

.full-name__part{
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
  display: flex;
}

.first-name__part{
  padding-right: 15px;
}

.birth-date__part{
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}

.email__part{
  padding: 0 20px 0 20px;
  margin-bottom: 10px;
}

.input-error {
  border-color: red !important;
}

.error-message{
  font-size: .9rem;
  color: red;
  margin: 2px 0 -5px 5px;
}

.avatar__part{
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}

.register__btn-part{
  padding: 0 20px 0 20px;
}

.register__btn{
  background-color: #f337ff;
  width: 100% ;
  border-radius: 5px;
  color: #ffffff;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid #616161;
  line-height: 10px;
  margin-bottom: 10px;
}

.register__btn:active{
  background-color: #f571ff;
}

