<div class="login">
  <div class="login__overlay"></div>
  <div class="row d-flex justify-content-center align-items-center" style="height: 98vh;">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3 style="margin-top: 5px; margin-left: 20px;">Login</h3>
        </div>
        <div class="card-body">
          <div class="username__part">
            <label class="input__title">Username</label>
            <div class="input-container">
              <input
                [(ngModel)]="loginModel.userName"
                type="text"
                class="form-control"
                [ngClass]="{'input-error': usernameError}"
                placeholder="Enter your username" style="border: 1px solid #9a9a9a;">
              <div *ngIf="usernameError" class="error-message">Please enter your username.</div>
            </div>
          </div>
          <div class="password__part">
            <label class="input__title">Password</label>
            <div class="input-container">
              <input
                [(ngModel)]="loginModel.password"
                [type]="showPassword ? 'text' : 'password'"
                class="form-control"
                [ngClass]="{'input-error': passwordError}"
                placeholder="Enter your password" style="border: 1px solid #9a9a9a;">
              <div *ngIf="passwordError" class="error-message">Please enter your password.</div>
            </div>
          </div>
          <div class="show__password">
            <input type="checkbox" id="showPasswordCheckbox" [(ngModel)]="showPassword">
            <label class="no__click" style="margin-left: 5px">Show Password</label>
          </div>
          <div *ngIf="errorMessage" class="error-text">
            {{ errorMessage }}
          </div>
          <div class="login__btn-part">
            <button class="login__btn" (click)="login()">Log in</button>
          </div>
          <div class="forget-and-regis">
            <a href="/forgot-password">Forgot password?</a>
            <a href="/register">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
